// Variables
@backgroundColor: #fa5c4f;
@textColor: #fff;
@textFontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

html {
  background: @backgroundColor;
}
body {
  overflow: hidden;
  font-family: @textFontFamily;
  font-weight: 300;
  background: @backgroundColor;
  top: 0px;
  position: absolute;
  &.mobile {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.avatar img{
  margin-top: 65%
}

.bubble
{
  position: relative;
  width: 250px;
  height: 120px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 110px;
}